<nav role="navigation" class="collapse navbar-collapse">
    <div class="container">
        <ul class="nav-primary nav navbar-nav" id="menu-primary-navigation"><li class="menu-sunflower-vn active"><a href="http://sunflower.vn/" target="_blank" title="Sunflower.vn">Sunflower.vn</a></li>
            <li class="menu-mua-sam"><a href="http://market.sunflower.vn" target="_blank" title="Mua sắm">Mua sắm</a></li>
            <li class="menu-tiep-thi-gia-dinh"><a href="http://tiepthigiadinh.sunflower.vn" target="_blank" title="Tiếp thị gia đình">Tiếp thị gia đình</a></li>
            <li class="menu-the-gioi-van-hoa"><a href="http://thegioivanhoa.sunflower.vn" target="_blank" title="Thế giới văn hóa"><span class="glyphicon Thế giới văn hóa"></span>&nbsp;Thế giới văn hóa</a></li>
            <li class="menu-harpers-bazaar"><a href="http://bazaarvietnam.vn/" target="_blank" title="Harper's Bazaar">Harper’s Bazaar</a></li>
            <li class="menu-her-world"><a href="http://herworldvietnam.vn/" target="_blank" title="Her World">Her World</a></li>
            <li class="menu-esquire"><a href="http://esquirevietnam.com.vn/" target="_blank" title="Esquire">Esquire</a></li>
            <li class="menu-cosmopolitan"><a href="http://cosmovietnam.vn" target="_blank" title="Cosmopolitan"><span class="glyphicon Cosmopolitan"></span>&nbsp;Cosmopolitan</a></li>
            <li class="menu-321-action"><a href="http://321action.vn/" target="_blank" title="321 Action">321 Action</a></li>
        </ul>
    </div>
</nav>
